################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/.vs/05MVID/v15
/build/obj/x64/debug/EJ02.Steering.tlog
/build
